<ion-content>
  <div class="login">
    <h1 class="login__title">
      Gardener
    </h1>
    <h5 class="login__subtitle">
      Faça sol ou faça chuva, cultive no conforto do seu lar.
    </h5>
    <div class="menu">
      <h3 *ngIf="!success_reset" class="menu__title">
          Esqueceu sua senha? <strong>Insira seu 
          e-mail abaixo e te enviaremos 
          um link de redefinição.</strong>
      </h3>
      <form *ngIf="!success_reset" [formGroup]="recover_form" (submit)="resetPasswordEmail(recover_form.value)">
        <ion-grid>
          <ion-row>
            <ion-col class="ion-margin-bottom" size="12">
              <div class="input-icon">
                <ion-icon name="at"></ion-icon>
                <ion-input type="email" formControlName="email" placeholder="email@dominio.com"></ion-input>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-align-items-center">
            <ion-col size="8">
              <a routerLink="/">Voltar ao Login</a>
            </ion-col>
            <ion-col size="4" class="ion-text-end">
              <button type="submit" class="btn-primary btn-primary--small">
                <ion-icon name="arrow-round-forward"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <label class="error-message">{{error_message}}</label>
      </form>
      <h3 *ngIf="success_reset" class="menu__title">
          E-mail com link de redefinição de senha enviado para <strong>{{recover_form.get('email').value}}!</strong>
          <br>
          <br>
          <a routerLink="/">Voltar ao Login</a>
      </h3>
    </div>
  </div>
  </ion-content>