<ion-tabs>

  <ion-tab-bar class="Tabs" slot="bottom">
    <ion-tab-button class="Tabs__button" tab="tab1">
      <img class="tab-icon" src="/assets/icon/apple-crate.png" alt="Icon">
      <ion-label>Gardeners<br>Ativos</ion-label>
    </ion-tab-button>

    <ion-tab-button class="Tabs__button" tab="tab2">
      <img class="tab-icon" src="/assets/icon/seedling.png" alt="Icon">
      <ion-label>Pacotes de<br>Plantio</ion-label>
    </ion-tab-button>

    <ion-tab-button class="Tabs__button" tab="tab3">
      <img class="tab-icon" src="/assets/icon/shovel.png" alt="Icon">
      <ion-label>Pacotes<br>Ativos</ion-label>
    </ion-tab-button>

    <ion-tab-button class="Tabs__button" tab="tab4">
      <img class="tab-icon" src="/assets/icon/user.png" alt="Icon">
      <ion-label>Seu<br>perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
