<header class="Header">
    <img src="/assets/images/logo_v1_branco.png" class="img-fluid Header__logo" alt="Logo Gardener">
    <a (click)="tryConnect()" >
      Conectar ao Gardener
    </a>
</header>

<ion-content class="ion-padding">
  <h1 class="Conexion__title">
      <!-- Olá {{user_info?.nome.substring(0,user_info?.nome.indexOf(' '))}} -->
      Selecione a estufa disponível abaixo para conectar ao seu aparelho! ;)
  </h1>
  <div (click)="tryConnect()" class="Conexion__box">
    <ion-icon class="icon-bluetooth" slot="start" name="bluetooth"></ion-icon>
    Gardener - Estufa 01
    <span class="icon-card-primary">
      <ion-icon slot="start" name="checkmark"></ion-icon>
    </span>
  </div>
</ion-content>
