
ion-input{
  --background: rgba(255,255,255,0.1);
  --color	: #FFFFFF;
  --padding-bottom: 1em;
  --padding-end: 1em;
  --padding-start: 1em;
  --padding-top: 1em;
  --placeholder-color:#cbdbb9;
  --placeholder-opacity: 0.8;
}